@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f5;
  color: #969cb2;
}

@layer components {
  .btn-primary {
    @apply bg-cuco-pink text-white h-fit px-7 py-3 rounded hover:brightness-105 active:brightness-95;
  }

  .btn-secondary {
    @apply bg-cuco-green text-white h-fit px-7 py-3 rounded hover:brightness-105 active:brightness-95;
  }

  .btn-transparent {
    @apply bg-transparent text-cuco-text h-fit px-7 py-3 rounded hover:brightness-105 active:brightness-95;
  }

  .input-primary {
    @apply w-full pl-3 pr-10 py-4 shadow-sm rounded focus:outline-none;
  }

  .form-checkbox {
    @apply w-5 h-5 text-cuco-pink border-gray-300 rounded focus:ring-cuco-pink checked:bg-cuco-pink checked:border-transparent;
  }
}

/*Paginator */

.VuePagination__pagination-item-prev-page,
.VuePagination__pagination-item-next-page {
  display: none;
}

.VuePagination__pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.VuePagination__pagination-item button {
  @apply px-2 py-1 rounded;
}

.VuePagination__pagination-item .active {
  @apply bg-cuco-blue text-white;
}

.VuePagination__count {
  margin-top: -27px;
}

.VuePagination {
  margin-bottom: 64px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.625em;
    padding: 1rem;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  table td::before {
    content: attr(data-label);
    float: right;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
